<html ng-app="app">
    <head>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
        <script src="../js/angularApp.js"></script>
    </head>
    <body ng-controller="indexController">
    <select ng-model="linesModel" ng-change="getStations()"> 
        <option value="none">Choose your Metra line</option> 
        <option value="UP-N" >Union Pacific / North Line</option> 
        <option value="MD-N" >Milwaukee District / North Line</option> 
        <option value="NCS" >North Central Service</option> 
        <option value="UP-NW" >Union Pacific / Northwest Line</option> 
        <option value="MD-W" >Milwaukee District / West Line</option> 
        <option value="UP-W" >Union Pacific / West Line</option> 
        <option value="BNSF" >BNSF Railway</option> 
        <option value="HC" >Heritage Corridor</option> 
        <option value="SWS" >SouthWest Service</option> 
        <option value="RI" >Rock Island District</option> 
        <option value="ME" >Metra Electric District</option> 
    </select>
    <br>
    <select ng-model="departStationsModel" ng-options="station.name for station in stationsList" ng-change="test()">
    </select>
        <br>
    <select ng-model="arriveStationsModel" ng-options="station.name for station in stationsList" ng-change="test()">
    </select>
    <button ng-click="getStationsNearMe()">get stations near me</button>
    <button ng-click="getFutureTrains()">get future trains</button>
    <button ng-click="getCrossings()">get crossings</button>
    <button ng-click="getBlockedCrossings()">get blocked crossings</button>
        <br>
        {{result}}
    </body>
</html>
